<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/materia/bootstrap.min.css">  

    <title>Document</title>
  </head>

  <body style="background-color:#424242 ;">      

                <div class="row justify-content-center">
                  <div class="col-lg-6">
                    
                <div class="card-body p-5 text-center bg-dark rounded-lg m-5">
                  <div style="color:white ;" >
                    <h2>Configuracion del servidor: </h2>
                    <div class="text-xl-left p-5"> 
                        {{#each args}}
                      <p>{{this}}</p>
                    {{/each}}
                    <p>Path de ejecución: {{execPath}}</p>
                    <p>Nombre de la plataforma: {{platform}}</p>
                    <p>Process ID: {{pid}}</p>
                    <p>Node Version: {{version}}</p>
                    <p>Carpeta del proyercto: {{currentDir}}</p>
                    <p>Memoria total reservada: {{rss}}</p>
                    <p>Numero de CPUs: {{CPUs}} | 2</p>
                    </div>                    
                  </div>
                </div>
                
                  </div>
                </div>
              
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    >
    </script>
  </body>

</html>